@import './normalize.css'
@import './reset.styl'
@import './nav.styl'
@import './slider.styl'
@import 'nib'

$gris = #383434
$orange = #E44424
$white = #FAF3DD
$celeste = #4A96AD
$verde = #A2AB58
$azul = #68B0AB
$rosado = #FF0080
	

body
	font-size 16px
	background-color $white
	font-family Georgia, "Times New Roman", serif
	color $verde
	

		
	
